<h1>Dash Board</h1>
<P>Welcome, <strong><%=userobj.name_user%></strong>. Your Details are Bellow</P>
<hr>

Name : <%=userobj.name_user%><br>
Email : <%=userobj.mail_user%><br>
Mobile : <%=userobj.mob_user%><br>

