<h1>User</h1>
<form method="POST" action="/dashboard">
    <input type="text" name="user" placeholder="name" value=""><br><br>
    <input type="text" name="email" placeholder="email" value=""><br><br>
    <input type="text" name="mobile" placeholder="Mobile" value=""><br><br>
    <button>Submit</button>
</form>